# D210 Representation and Reporting

##### Submitted by Kimberly Hubacek Student ID: 001249836

### A1: Dashboard, Data Sources, and Code for Data Cleaning

The dashboard containing my data analysis is published at Tableau Public for general consumption. This is the easiest way to provide the interactive dashboard to any user, since it requires no installation or set up.

https://public.tableau.com/app/profile/kimberly.hubacek/viz/D210Dashboard-KimberlyH/Story1?publish=yes


This data analysis makes use of two datasets:

 - The WGU churn dataset, provided by WGU for several of the classes in the MSDA program.
 - The Telco Data Set by IBM Solutions provided by Kaggle.com
 
 Please see the cells below for data cleaning code for both datasets

In [1]:
#Loading libraries and packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pylab
import statistics
import math
from scipy import stats

### Churn dataset

In [2]:
#Loading churn dataset and renaming it "churn"
churn = pd.read_csv("C:/Users/khuba/OneDrive/Documents/WGU - Master's in Data Analytics/D210 - Representation and Reporting/churn_clean.csv")

In [3]:
#Setting the display to preview the maximum number of columns instead of just a few
pd.set_option("display.max_columns", None)

In [4]:
# Info about dataset including column names and non-null values values in each column
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   UID                   10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  TimeZone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              10000 non-null  int64
 15  Age                   10000 non-null  int64
 16  Income                10000 non-null  float64
 17  Marital               10000 non-null  object
 18  Gender                10000 non-null  object
 19  Churn                 10000 non-null  object
 20  Outage_sec_perweek    10000 non-null  float64
 21  Email                 10000 non-null  int64
 22  Contacts              10000 non-null  int64
 23  Yearly_equip_failure  10000 non-null  int64
 24  Techie                10000 non-null  object
 25  Contract              10000 non-null  object
 26  Port_modem            10000 non-null  object
 27  Tablet                10000 non-null  object
 28  InternetService       10000 non-null  object
 29  Phone                 10000 non-null  object
 30  Multiple              10000 non-null  object
 31  OnlineSecurity        10000 non-null  object
 32  OnlineBackup          10000 non-null  object
 33  DeviceProtection      10000 non-null  object
 34  TechSupport           10000 non-null  object
 35  StreamingTV           10000 non-null  object
 36  StreamingMovies       10000 non-null  object
 37  PaperlessBilling      10000 non-null  object
 38  PaymentMethod         10000 non-null  object
 39  Tenure                10000 non-null  float64
 40  MonthlyCharge         10000 non-null  float64
 41  Bandwidth_GB_Year     10000 non-null  float64
 42  Item1                 10000 non-null  int64
 43  Item2                 10000 non-null  int64
 44  Item3                 10000 non-null  int64
 45  Item4                 10000 non-null  int64
 46  Item5                 10000 non-null  int64
 47  Item6                 10000 non-null  int64
 48  Item7                 10000 non-null  int64
 49  Item8                 10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [5]:
#Renaming the survey response columns to avoid confusion
churn.rename(columns = {'Item1':'Response',
'Item2':'Fix',
'Item3':'Replacement',
'Item4':'Reliability',
'Item5':'Options',
'Item6':'Respectfulness',
'Item7':'Courteous',
'Item8':'Listen'},
inplace=True)

In [6]:
#Dropping unnecessary columns
churn=churn.drop(columns=['CaseOrder',
                         'Customer_id',
                         'Interaction',
                         'UID',
                          'City',
                          'State',
                          'County',
                          'Job',
                         'Zip',
                         'Lat',
                         'Lng',
                         'Population',
                         'TimeZone',
                          'Area',
                          'Yearly_equip_failure',
                          'Email',
                          'Contacts',
                          'Income',
                         'Bandwidth_GB_Year',
                          'Outage_sec_perweek',
                          'Techie',
                          'Port_modem',
                          'Tablet',
                         'Response',
                         'Fix',
                         'Replacement',
                         'Reliability',
                         'Options',
                         'Respectfulness',
                         'Courteous',
                         'Listen'])

In [7]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Children          10000 non-null  int64
 1   Age               10000 non-null  int64
 2   Marital           10000 non-null  object
 3   Gender            10000 non-null  object
 4   Churn             10000 non-null  object
 5   Contract          10000 non-null  object
 6   InternetService   10000 non-null  object
 7   Phone             10000 non-null  object
 8   Multiple          10000 non-null  object
 9   OnlineSecurity    10000 non-null  object
 10  OnlineBackup      10000 non-null  object
 11  DeviceProtection  10000 non-null  object
 12  TechSupport       10000 non-null  object
 13  StreamingTV       10000 non-null  object
 14  StreamingMovies   10000 non-null  object
 15  PaperlessBilling  10000 non-null  object
 16  PaymentMethod     10000 non-null  object
 17  Tenure            10000 non-null  float64
 18  MonthlyCharge     10000 non-null  float64
dtypes: float64(2), int64(2), object(15)
memory usage: 1.4+ MB

In [8]:
#Generating columns of dummy values for Churn's Marital column
marital_tempdf = pd.get_dummies(data=churn["Marital"], drop_first=False)

In [9]:
#Joining Married
Married = marital_tempdf["Married"]
churn = pd.concat([churn,Married], axis = 1)
churn

,Children,Age,Marital,Gender,Churn,Contract,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Married
0,0,68,Widowed,Male,No,One year,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,0
1,1,27,Married,Female,Yes,Month-to-month,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,1
2,4,50,Widowed,Female,No,Two Year,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,0
3,1,48,Married,Male,No,Two Year,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,1
4,0,83,Separated,Male,Yes,Month-to-month,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3,23,Married,Male,No,Month-to-month,DSL,Yes,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.979400,1
9996,4,48,Divorced,Male,No,Two Year,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,207.481100,0
9997,1,48,Never Married,Female,No,Month-to-month,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),47.416890,169.974100,0
9998,1,39,Separated,Male,No,Two Year,Fiber Optic,No,Yes,No,No,No,Yes,Yes,Yes,Yes,Credit Card (automatic),71.095600,252.624000,0
9999,1,28,Never Married,Male,No,Month-to-month,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,217.484000,0

In [10]:
#dropping marital
churn=churn.drop(columns=['Marital'
                         ])

In [11]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Children          10000 non-null  int64
 1   Age               10000 non-null  int64
 2   Gender            10000 non-null  object
 3   Churn             10000 non-null  object
 4   Contract          10000 non-null  object
 5   InternetService   10000 non-null  object
 6   Phone             10000 non-null  object
 7   Multiple          10000 non-null  object
 8   OnlineSecurity    10000 non-null  object
 9   OnlineBackup      10000 non-null  object
 10  DeviceProtection  10000 non-null  object
 11  TechSupport       10000 non-null  object
 12  StreamingTV       10000 non-null  object
 13  StreamingMovies   10000 non-null  object
 14  PaperlessBilling  10000 non-null  object
 15  PaymentMethod     10000 non-null  object
 16  Tenure            10000 non-null  float64
 17  MonthlyCharge     10000 non-null  float64
 18  Married           10000 non-null  uint8
dtypes: float64(2), int64(2), object(14), uint8(1)
memory usage: 1.4+ MB

In [12]:
#Changing Children from numerical to yes no
churn.Children.replace(([1,2,3,4,5,6,7,8,9,10], 0),('Yes', 'No'), inplace=True)

In [13]:
#Changing Married to Yes or No
churn.Married.replace((1, 0),('Yes', 'No'), inplace=True)

In [14]:
print(churn)

     Children  Age  Gender Churn        Contract InternetService Phone  \
0          No   68    Male    No        One year     Fiber Optic   Yes
1         Yes   27  Female   Yes  Month-to-month     Fiber Optic   Yes
2         Yes   50  Female    No        Two Year             DSL   Yes
3         Yes   48    Male    No        Two Year             DSL   Yes
4          No   83    Male   Yes  Month-to-month     Fiber Optic    No
...       ...  ...     ...   ...             ...             ...   ...
9995      Yes   23    Male    No  Month-to-month             DSL   Yes
9996      Yes   48    Male    No        Two Year     Fiber Optic   Yes
9997      Yes   48  Female    No  Month-to-month     Fiber Optic   Yes
9998      Yes   39    Male    No        Two Year     Fiber Optic    No
9999      Yes   28    Male    No  Month-to-month     Fiber Optic   Yes

     Multiple OnlineSecurity OnlineBackup DeviceProtection TechSupport  \
0          No            Yes          Yes               No          No
1         Yes            Yes           No               No          No
2         Yes             No           No               No          No
3          No            Yes           No               No          No
4          No             No           No               No         Yes
...       ...            ...          ...              ...         ...
9995      Yes             No          Yes              Yes          No
9996      Yes            Yes          Yes              Yes          No
9997      Yes            Yes          Yes               No          No
9998      Yes             No           No               No         Yes
9999      Yes            Yes          Yes              Yes          No

     StreamingTV StreamingMovies PaperlessBilling             PaymentMethod  \
0             No             Yes              Yes   Credit Card (automatic)
1            Yes             Yes              Yes  Bank Transfer(automatic)
2             No             Yes              Yes   Credit Card (automatic)
3            Yes              No              Yes              Mailed Check
4            Yes              No               No              Mailed Check
...          ...             ...              ...                       ...
9995          No              No               No          Electronic Check
9996         Yes              No               No          Electronic Check
9997          No              No              Yes  Bank Transfer(automatic)
9998         Yes             Yes              Yes   Credit Card (automatic)
9999          No             Yes              Yes          Electronic Check

         Tenure  MonthlyCharge Married
0      6.795513     172.455519      No
1      1.156681     242.632554     Yes
2     15.754144     159.947583      No
3     17.087227     119.956840     Yes
4      1.670972     149.948316      No
...         ...            ...     ...
9995  68.197130     159.979400     Yes
9996  61.040370     207.481100      No
9997  47.416890     169.974100      No
9998  71.095600     252.624000      No
9999  63.350860     217.484000      No

[10000 rows x 19 columns]

In [15]:
churn["Tenure"] = churn["Tenure"].apply(np.int64)

In [16]:
print(churn)

     Children  Age  Gender Churn        Contract InternetService Phone  \
0          No   68    Male    No        One year     Fiber Optic   Yes
1         Yes   27  Female   Yes  Month-to-month     Fiber Optic   Yes
2         Yes   50  Female    No        Two Year             DSL   Yes
3         Yes   48    Male    No        Two Year             DSL   Yes
4          No   83    Male   Yes  Month-to-month     Fiber Optic    No
...       ...  ...     ...   ...             ...             ...   ...
9995      Yes   23    Male    No  Month-to-month             DSL   Yes
9996      Yes   48    Male    No        Two Year     Fiber Optic   Yes
9997      Yes   48  Female    No  Month-to-month     Fiber Optic   Yes
9998      Yes   39    Male    No        Two Year     Fiber Optic    No
9999      Yes   28    Male    No  Month-to-month     Fiber Optic   Yes

     Multiple OnlineSecurity OnlineBackup DeviceProtection TechSupport  \
0          No            Yes          Yes               No          No
1         Yes            Yes           No               No          No
2         Yes             No           No               No          No
3          No            Yes           No               No          No
4          No             No           No               No         Yes
...       ...            ...          ...              ...         ...
9995      Yes             No          Yes              Yes          No
9996      Yes            Yes          Yes              Yes          No
9997      Yes            Yes          Yes               No          No
9998      Yes             No           No               No         Yes
9999      Yes            Yes          Yes              Yes          No

     StreamingTV StreamingMovies PaperlessBilling             PaymentMethod  \
0             No             Yes              Yes   Credit Card (automatic)
1            Yes             Yes              Yes  Bank Transfer(automatic)
2             No             Yes              Yes   Credit Card (automatic)
3            Yes              No              Yes              Mailed Check
4            Yes              No               No              Mailed Check
...          ...             ...              ...                       ...
9995          No              No               No          Electronic Check
9996         Yes              No               No          Electronic Check
9997          No              No              Yes  Bank Transfer(automatic)
9998         Yes             Yes              Yes   Credit Card (automatic)
9999          No             Yes              Yes          Electronic Check

      Tenure  MonthlyCharge Married
0          6     172.455519      No
1          1     242.632554     Yes
2         15     159.947583      No
3         17     119.956840     Yes
4          1     149.948316      No
...      ...            ...     ...
9995      68     159.979400     Yes
9996      61     207.481100      No
9997      47     169.974100      No
9998      71     252.624000      No
9999      63     217.484000      No

[10000 rows x 19 columns]

In [17]:
# saving clean churn dataset to CSV
churn.to_csv('D210ChurnClean.csv', index = False)

### Telco dataset

In [18]:
#Loading dataset and renaming it "telco"
telco = pd.read_csv("C:/Users/khuba/OneDrive/Documents/WGU - Master's in Data Analytics/D210 - Representation and Reporting/Telco-Customer-Churn.csv")

In [19]:
#Setting the display to preview the maximum number of columns instead of just a few
pd.set_option("display.max_columns", None)

print(telco)

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     7590-VHVEG  Female              0     Yes         No       1
1     5575-GNVDE    Male              0      No         No      34
2     3668-QPYBK    Male              0      No         No       2
3     7795-CFOCW    Male              0      No         No      45
4     9237-HQITU  Female              0      No         No       2
...          ...     ...            ...     ...        ...     ...
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  \
0              No  No phone service             DSL             No
1             Yes                No             DSL            Yes
2             Yes                No             DSL            Yes
3              No  No phone service             DSL            Yes
4             Yes                No     Fiber optic             No
...           ...               ...             ...            ...
7038          Yes               Yes             DSL            Yes
7039          Yes               Yes     Fiber optic             No
7040           No  No phone service             DSL            Yes
7041          Yes               Yes     Fiber optic             No
7042          Yes                No     Fiber optic            Yes

     OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies  \
0             Yes               No          No          No              No
1              No              Yes          No          No              No
2             Yes               No          No          No              No
3              No              Yes         Yes          No              No
4              No               No          No          No              No
...           ...              ...         ...         ...             ...
7038           No              Yes         Yes         Yes             Yes
7039          Yes              Yes          No         Yes             Yes
7040           No               No          No          No              No
7041           No               No          No          No              No
7042           No              Yes         Yes         Yes             Yes

            Contract PaperlessBilling              PaymentMethod  \
0     Month-to-month              Yes           Electronic check
1           One year               No               Mailed check
2     Month-to-month              Yes               Mailed check
3           One year               No  Bank transfer (automatic)
4     Month-to-month              Yes           Electronic check
...              ...              ...                        ...
7038        One year              Yes               Mailed check
7039        One year              Yes    Credit card (automatic)
7040  Month-to-month              Yes           Electronic check
7041  Month-to-month              Yes               Mailed check
7042        Two year              Yes  Bank transfer (automatic)

      MonthlyCharges TotalCharges Churn
0              29.85        29.85    No
1              56.95       1889.5    No
2              53.85       108.15   Yes
3              42.30      1840.75    No
4              70.70       151.65   Yes
...              ...          ...   ...
7038           84.80       1990.5    No
7039          103.20       7362.9    No
7040           29.60       346.45    No
7041           74.40        306.6   Yes
7042          105.65       6844.5    No

[7043 rows x 21 columns]

In [20]:
telco=telco.drop(columns=['TotalCharges',
                          'customerID'])

In [21]:
#Renaming Dependents to Children and partner to married
telco.rename(columns = {'Dependents':'Children',
                       'Partner':'Married'})

,gender,SeniorCitizen,Married,Children,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,No

In [22]:
# Viewing data
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(16)
memory usage: 1.0+ MB

In [23]:
# Checking for nulls
telco.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
Churn               0
dtype: int64

In [24]:
# Saving clean Telco dataset to CSV

telco.to_csv('D210TelcoClean.csv', index = False)

## A2: Dashboard Installation Instructions

Installation is not necessary for my dashboard since it hosted on Tableau public at this link:

https://public.tableau.com/app/profile/kimberly.hubacek/viz/D210Dashboard-KimberlyH/Story1?publish=yes

 Simply click the click and open it in a modern web browser such as Firefox or google chrome. Hosting my dashboard on Tableau public makes it more accessible since the audience doesn’t need to follow complicated technical instructions to view it or pay a yearly subscription to Tableau for the desktop version.

### A3. Dashboard Navigation Instructions

Operating a Tableau story is easy and intuitive. After clicking on the click to open the presentation, simply navigate to different parts of the story using the right arrow key at the top of the story. There are no other interactive features on the Introduction Page besides the right arrow to navigate to the next slide.

Clicking the right arrow on the Introduction slide will navigate the audience to the Customer Demographics Story Page. The audience can interact with the Gender filter and the Churn filter on this page. Selecting and deselecting the boxes in these filters will alter the visualizations and the counts to reflect the filtered information. For example, checking the “No” box in the Churn Filter area will alter the visualizations and the counts to reflect all the customer information for customers who remained loyal to WGU and Telco. The filters are in the center of this slide. Clicking the right arrow at the top of the page will navigate the audience to the KPI: Monthly Charge Slide.

The KPI: Monthly Charge represents information on customer’s monthly bill totals for WGU and Telco. Like the Customer Demographics page, the audience can interact with a Churn Filter and a Gender Filter. Selecting and deselecting the boxes in these filters will alter the visualizations and the counts to reflect the filtered information. For example, checking the “Female” box in the Gender Filter area will alter the visualizations and the counts to reflect all the customer information for female customers. The filters are located to the right of the bar graphs on this slide. Clicking on the arrow in the upper right corner of this page will navigate the audience to the KPI: Tenure slide.

The KPI: Tenure slide represents information on customer tenure for WGU and Telco. Like the Customer Demographics page, the audience can interact with a Churn Filter and a Gender Filter. Selecting and deselecting the boxes in these filters will alter the visualizations and the counts to reflect the filtered information. For example, checking the “Yes” box in the Churn Filter area will alter the visualizations and the counts to reflect all the customer information for customers who ended service with WGU and Telco. The filters are located to the right of the bar graphs on this slide. Clicking the arrow in the upper right corner of this slide will navigate the audience to the Insights slide.

The Actionable Insights slide is the final slide of the presentation. It contains the recommended courses of action based on the data in the presentation. There are no interactive features in this slide.

### B1. Purpose and Function of Dashboard

The WGU churn data comes from a fictional telecommunications company like Comcast and AT&T. The dataset contains information about customer demographics and what service offerings customers have purchased. The Telco data set contains similar customer information and information about services offered. Telecommunications companies seek to minimize churn, or customers discontinuing service. I put myself in the position of a marketing analyst at WGU Churn, a company who just purchased Telco Telecommunications. I was looking at both datasets to create an ad campaign with promotions targeted at preventing current customers from churning as well as enticing new customers to sign up for service. 
I wanted to get an understanding of the customer demographics from both companies. What percentage of customers from both companies are married or have children? What is the average monthly bill of customers who churned versus customers who continue service? Could offering a loyalty discount to long term customers reduce churn?
My first dashboard is dedicated to customer demographics. My second dashboard was dedicated to monthly charge, my first key performance index. My last dashboard was dedicated to tenure, my second key performance index.

### B2. Additional Insights from External Data Set

The Telco data set provided context for the values in the WGU churn data set. I had no idea if certain values were normal for telecommunications company. Telco’s Tenure and Monthly Charge data were especially revealing. Telco customers had lower monthly bills, but much longer tenure compared to the WGU customers. Someone with a profit mindset may attempt to sell WGU customers more service add ons to increase revenue, but Telco’s data tells a different story. Customer retention can be more profitable in the long run compared to short term customers who have large monthly bills.

### B3. Explanation of Data Representations

I used pie charts numerous times in my Tableau story Customer Demographics page. One visualization that aided in decision making was a pie chart communicating if WGU customers had children or if they did not have the children. The pie chart represented binary yes and no data. The chart legend demonstrated orange represented, “yes, customers have children” while blue represented, “no customers do not have children.” The chart revealed 75% of WGU customers had children. This is valuable information for a marketing team who could create ads targeted at customers with children to promote new service offerings.
I also used stacked bar graphs in my Tableau story. The stacked bar graph visualizing if Telco customers had children in relation to their tenure length in the KPI: Tenure dashboard was very useful for business decisions. The bar had two columns on the x-axis, one representing, “Yes, the customer had children” and the other representing, “No, the customer does not have children.” The y-axis represented the average tenure in months. I created a calculated field establishing a tenure threshold of 24 months. All values below 24 months of tenure did not meet the threshold while all values above the 24 months met the threshold. Values that were below the threshold were colored orange while values that were above the threshold were colored blue. The graphs demonstrated Telco customers had the highest percentage of customers above the 24-month threshold. Additionally, Telco customers with children had the longest tenure of all the customers in the data set. Managers could use this to offer perks and incentives to entice Telco customers with children to sign up for services such as a kid-friendly streaming tv service.

### B4. Explanation of Interactive Controls

I created a gender filter that was used in the Customer Demographics, KPI: Monthly Charge, and KPI: tenure pages of my Tableau story. The gender filter contained check boxes for Male, Female, Nonbinary, and All. Selecting and deselecting the boxes changed the visuals and the counts to reflect data for that gender. For example, checking the “female” box in the gender filter on the Customer demographics page returned martial information, children information, information on customer churn, and customer gender identity for females only. The pie charts and counts for marital information, children information, and churn information would be altered to reflect the information for female customers, while the gender pie charts would look a filled in circle displaying the total counts for the WGU and Telco gender data columns. 
Additionally, I created a churn filter that was used in the Customer Demographics, KPI: Monthly Charge, and KPI: tenure pages of my Tableau story. The churn filter contained check boxes for Yes, No, and All. Selecting and deselecting the boxes changed the visuals and the counts to reflect data for if customers churned from WGU and Telco or not. For example, checking the “Yes” box in the churn filter on the Customer demographics page returned martial information, children information, gender identity, and churn information only for customers who churned. The pie charts and counts for marital information, children information, and gender identity would be altered to reflect the information for customers who churned, while the churn pie charts would look a filled in circle displaying the total counts for the WGU and Telco churn data columns.

### B5. Accessibility

All my visualization were color coded with Tableau’s built in color blindless color palette. Blue and orange were my main color combination in my Tableau story. I also chose to use black colored font in my presentation. All font was enlarged and bolded for readability whenever possible. This made my presentation accessible for people with color blindless and those with weak eyesight or eyestrain.

### C1. Representation Story Support

In the Customer Demographics page of my Tableau story, pie charts containing marital information revealed Telco half of Telco customers were married, but only 20% had children. This guided the imaginary marketing team into creating ads promoting Telco services to customers targeted at married individuals without children. 
In the KPI: Monthly Charge page of my Tableau story, the stacked bar graphs revealed that WGU customers pay nearly twice the amount as Telco customers on their monthly charge. While this is positive from a revenue perspective, using the Churn filter revealed that all customers who churned had a bill of over $100. This guided my imaginary marketing team scenario into focusing on ads that would incentivize WGU customers to sign longer contracts instead of promoting new service add ons that would increase their bills.

### C2. Audience Analysis
According to the rubric, the presentation was to be given to my business peers. I tailored my story to include a business scenario that would be familiar to a marketing analyst. I also made sure to use simple language in my presentation. I avoided technical jargon and explained things as simply as possible. This ensured everyone, even those in managerial positions who have little experience programming or with data analysis, would be able to glean insights from my presentation.

### C3. Universal Access
My presentation was loaded onto Tableau public. This allowed anyone to view it without having to install a dashboard. This removes barriers for audience members who may not be technology savvy or find working with unfamiliar computer programs overwhelming. Tableau public is also free, which means there are no financial barriers to viewing my presentation.

### C4. Elements of Effective Storytelling
According to Catharine Cote Harvard business school, creative an imaginary scenario like a real-life scenario the audience may experience will grab and keep their attention (Cote, 2021). I followed this advice by creating a scenario where the audience was on the lead marketing analytics team for WGU Telecommunications after acquiring Telco Telecommunications in a merger. The audience needed to evaluate customer data for both WGU and Telco by using my Tableau story.
Establishing conflict and ending with a resolution for the conflict will keep the audience engaged throughout a presentation (Cote, 2021). I established conflict by stating the audience needed to come up with a marketing plan for both WGU and Telco to address key performance indicator issues. The conflict was resolved, and ad campaign ideas were presented on the last slide of my Tableau story.

### Code Sources:
Telco Data Set by IBM Solutions via Kaggle: https://www.kaggle.com/datasets/blastchar/telco-customer-churn/discussion

### Academic Sources

Cote, C. (2021, November 23). Data Storytelling: How to Tell a Story with Data. Business Insights - Blog. https://online.hbs.edu/blog/post/data-storytelling